[Unit]
Description=Restart AGS after system resume
After=sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user restart ags.service

[Install]
WantedBy=sleep.target
