[Unit]
Description=AGS (Aylur's GTK Shell)
Documentation=https://github.com/aylur/ags

[Service]
Type=simple
ExecStart=/usr/bin/ags run --gtk 4
ExecStop=/bin/sh -c 'pkill -x ags; pkill -f "gjs -m /run/user/[0-9]+/ags.js" || true'
Restart=on-failure
RestartSec=3
KillMode=mixed
TimeoutStopSec=5
