[Unit]
Description=Reconnect Bluetooth Devices
After=graphical-session.target
Wants=dbus.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 2
ExecStart=/home/john/.local/bin/system-bluetooth
StandardOutput=journal
StandardError=journal
SuccessExitStatus=0 1

[Install]
WantedBy=default.target

