[Unit]
Description=Elephant Emoji Picker
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/elephant
Restart=on-failure
RestartSec=3
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=graphical-session.target

