[Unit]
Description=Restart AGS after suspend
After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'pkill -f "ags run" || true'
ExecStart=/bin/sleep 1
ExecStart=/usr/bin/ags run /home/john/.config/ags
Environment=WAYLAND_DISPLAY=wayland-1
Environment=HYPRLAND_INSTANCE_SIGNATURE=%E

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
