[Desktop Entry]
Version=1.0
Type=Application
Name=Idleon Web
Comment=Play Legends of Idleon in browser
Exec=google-chrome-stable --class=idleon-web --app=https://www.legendsofidleon.com/ytGl5oc/ --disable-dev-shm-usage --disable-background-timer-throttling --disable-renderer-backgrounding --disable-backgrounding-occluded-windows
Icon=idleon-web
Terminal=false
Categories=Game;
StartupWMClass=idleon-web
StartupWMClass=chrome-www.legendsofidleon.com__ytGl5oc_-Default
