[Desktop Entry]
Name=Live Cam
Comment=View RTSP camera stream
Exec=launch-webapp https://cam.jbroom.ca
Icon=accessories-camera
Terminal=false
Type=Application
Categories=AudioVideo;Video;

