[Desktop Entry]
Name=Sleep
GenericName=Sleep
Comment=Put the system to sleep
Exec=systemctl suspend
Icon=system-suspend
Terminal=false
Type=Application
Categories=PC;
Keywords=sleep;suspend;hibernate;
