@use "../abstracts/variables" as *;
@use "../abstracts/theme" as *;

@use "sass:color";

@mixin gtk-reset {
  all: unset;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

// Base button reset and styling
@mixin button-base {
  @include gtk-reset;
  border-radius: $radius-sm;
  transition: $transition-hover;
  padding: 5px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
}