@use "../abstracts/variables" as *;
@use "../abstracts/theme" as *;

@mixin gtk-reset {
  all: unset;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

// Base button reset and styling
@mixin button-base {
  @include gtk-reset;
  border-radius: $radius-sm;
  transition: $transition-fast;
  padding: 4px;
}