{
  "workbench.colorCustomizations": {
    "focusBorder": "#{{base03-hex}}",
    "foreground": "#{{base05-hex}}",
    "disabledForeground": "#{{base03-hex}}",
    "widget.border": "#{{base02-hex}}",
    "widget.shadow": "#00000098",
    "selection.background": "#{{base03-hex}}",
    "descriptionForeground": "#{{base04-hex}}",
    "errorForeground": "#{{base08-hex}}",
    "icon.foreground": "#{{base05-hex}}",
    "sash.hoverBorder": "#{{base03-hex}}",
    "window.activeBorder": "#{{base03-hex}}",
    "window.inactiveBorder": "#{{base02-hex}}",
    "textBlockQuote.background": "#{{base01-hex}}",
    "textBlockQuote.border": "#{{base03-hex}}",
    "textCodeBlock.background": "#{{base01-hex}}",
    "textLink.activeForeground": "#{{base0D-hex}}",
    "textLink.foreground": "#{{base0D-hex}}",
    "textPreformat.foreground": "#{{base0A-hex}}",
    "textPreformat.background": "#{{base01-hex}}",
    "textSeparator.foreground": "#{{base03-hex}}",
    "toolbar.hoverBackground": "#{{base01-hex}}",
    "toolbar.hoverOutline": "#{{base03-hex}}",
    "toolbar.activeBackground": "#{{base02-hex}}",
    "editorActionList.background": "#{{base00-hex}}",
    "editorActionList.foreground": "#{{base05-hex}}",
    "editorActionList.focusForeground": "#{{base05-hex}}",
    "editorActionList.focusBackground": "#{{base01-hex}}",
    "button.background": "#{{base03-hex}}",
    "button.foreground": "#{{base05-hex}}",
    "button.border": "#{{base02-hex}}",
    "button.separator": "#{{base02-hex}}",
    "button.hoverBackground": "#{{base04-hex}}",
    "button.secondaryForeground": "#{{base05-hex}}",
    "button.secondaryBackground": "#{{base01-hex}}",
    "button.secondaryHoverBackground": "#{{base02-hex}}",
    "checkbox.background": "#{{base01-hex}}",
    "checkbox.foreground": "#{{base05-hex}}",
    "checkbox.disabled.background": "#{{base00-hex}}",
    "checkbox.disabled.foreground": "#{{base03-hex}}",
    "checkbox.border": "#{{base03-hex}}",
    "checkbox.selectBackground": "#{{base0D-hex}}",
    "checkbox.selectBorder": "#{{base0D-hex}}",
    "radio.activeForeground": "#{{base0D-hex}}",
    "radio.inactiveForeground": "#{{base05-hex}}",
    "radio.disabledForeground": "#{{base03-hex}}",
    "dropdown.background": "#{{base01-hex}}",
    "dropdown.listBackground": "#{{base00-hex}}",
    "dropdown.border": "#{{base02-hex}}",
    "dropdown.foreground": "#{{base05-hex}}",
    "input.background": "#{{base01-hex}}",
    "input.border": "#{{base02-hex}}",
    "input.foreground": "#{{base05-hex}}",
    "input.placeholderForeground": "#{{base03-hex}}",
    "inputOption.activeBorder": "#{{base03-hex}}",
    "inputOption.activeBackground": "#{{base02-hex}}",
    "inputOption.hoverBackground": "#{{base01-hex}}",
    "inputValidation.errorBackground": "#{{base08-hex}}",
    "inputValidation.errorBorder": "#{{base08-hex}}",
    "inputValidation.warningBackground": "#{{base0A-hex}}",
    "inputValidation.warningBorder": "#{{base0A-hex}}",
    "inputValidation.infoBackground": "#{{base0D-hex}}",
    "inputValidation.infoBorder": "#{{base0D-hex}}",
    "scrollbar.shadow": "#00000050",
    "scrollbarSlider.activeBackground": "#{{base03-hex}}80",
    "scrollbarSlider.background": "#{{base02-hex}}80",
    "scrollbarSlider.hoverBackground": "#{{base03-hex}}80",
    "badge.background": "#{{base03-hex}}",
    "badge.foreground": "#{{base05-hex}}",
    "progressBar.background": "#{{base03-hex}}",
    "list.activeSelectionBackground": "#{{base03-hex}}",
    "list.activeSelectionForeground": "#{{base05-hex}}",
    "list.dropBackground": "#{{base01-hex}}",
    "list.focusBackground": "#{{base01-hex}}",
    "list.focusForeground": "#{{base05-hex}}",
    "list.highlightForeground": "#{{base05-hex}}",
    "list.hoverBackground": "#{{base01-hex}}",
    "list.hoverForeground": "#{{base05-hex}}",
    "list.inactiveSelectionBackground": "#{{base01-hex}}",
    "list.inactiveSelectionForeground": "#{{base05-hex}}",
    "list.invalidItemForeground": "#{{base08-hex}}",
    "list.errorForeground": "#{{base08-hex}}",
    "list.warningForeground": "#{{base0A-hex}}",
    "listFilterWidget.background": "#{{base01-hex}}",
    "listFilterWidget.noMatchesOutline": "#{{base08-hex}}",
    "listFilterWidget.outline": "#{{base03-hex}}",
    "tree.indentGuidesStroke": "#{{base02-hex}}",
    "tree.tableColumnsBorder": "#{{base02-hex}}",
    "tree.tableOddRowsBackground": "#{{base00-hex}}",
    "activityBar.background": "#{{base01-hex}}",
    "activityBar.dropBorder": "#{{base05-hex}}",
    "activityBar.foreground": "#{{base05-hex}}",
    "activityBar.inactiveForeground": "#{{base03-hex}}",
    "activityBar.border": "#{{base02-hex}}",
    "activityBarBadge.background": "#{{base0D-hex}}",
    "activityBarBadge.foreground": "#{{base00-hex}}",
    "activityBar.activeBorder": "#{{base0D-hex}}",
    "activityBar.activeFocusBorder": "#{{base0D-hex}}",
    "activityBar.activeBackground": "#{{base01-hex}}",
    "sideBar.background": "#{{base00-hex}}",
    "sideBar.foreground": "#{{base05-hex}}",
    "sideBar.border": "#{{base00-hex}}",
    "sideBar.dropBackground": "#{{base01-hex}}",
    "sideBarSectionHeader.background": "#{{base00-hex}}",
    "sideBarSectionHeader.foreground": "#{{base05-hex}}",
    "sideBarSectionHeader.border": "#{{base02-hex}}",
    "sideBarTitle.foreground": "#{{base05-hex}}",
    "minimap.background": "#{{base00-hex}}",
    "minimap.findMatchHighlight": "#{{base0A-hex}}",
    "minimap.selectionHighlight": "#{{base03-hex}}80",
    "minimap.errorHighlight": "#{{base08-hex}}",
    "minimap.warningHighlight": "#{{base0A-hex}}",
    "minimap.foregroundOpacity": "#{{base05-hex}}80",
    "minimap.selectionOccurrenceHighlight": "#{{base03-hex}}80",
    "minimapGutter.addedBackground": "#{{base0B-hex}}",
    "minimapGutter.deletedBackground": "#{{base08-hex}}",
    "minimapGutter.modifiedBackground": "#{{base0A-hex}}",
    "minimapSlider.activeBackground": "#{{base03-hex}}80",
    "minimapSlider.background": "#{{base02-hex}}80",
    "minimapSlider.hoverBackground": "#{{base03-hex}}80",
    "editorGroup.border": "#{{base01-hex}}",
    "editorGroup.dropBackground": "#{{base01-hex}}80",
    "editorGroupHeader.noTabsBackground": "#{{base00-hex}}",
    "editorGroupHeader.tabsBackground": "#{{base00-hex}}",
    "editorGroupHeader.tabsBorder": "#{{base00-hex}}",
    "tab.activeBackground": "#{{base00-hex}}",
    "tab.activeForeground": "#{{base05-hex}}",
    "tab.border": "#{{base00-hex}}",
    "tab.inactiveBackground": "#{{base01-hex}}90",
    "tab.inactiveForeground": "#{{base04-hex}}",
    "tab.lastPinnedBorder": "#{{base01-hex}}",
    "tab.unfocusedActiveBackground": "#{{base00-hex}}",
    "tab.unfocusedActiveForeground": "#{{base04-hex}}",
    "tab.unfocusedInactiveBackground": "#{{base01-hex}}",
    "tab.unfocusedInactiveForeground": "#{{base03-hex}}",
    "tab.hoverBackground": "#{{base01-hex}}",
    "tab.hoverForeground": "#{{base05-hex}}",
    "tab.unfocusedHoverBackground": "#{{base01-hex}}",
    "tab.unfocusedHoverForeground": "#{{base04-hex}}",
    "tab.activeModifiedBorder": "#{{base0D-hex}}",
    "tab.inactiveModifiedBorder": "#{{base03-hex}}",
    "tab.unfocusedActiveModifiedBorder": "#{{base03-hex}}",
    "tab.unfocusedInactiveModifiedBorder": "#{{base02-hex}}",
    "editor.background": "#{{base00-hex}}",
    "editor.foreground": "#{{base05-hex}}",
    "editorGutter.background": "#{{base00-hex}}",
    "editorLineNumber.foreground": "#{{base03-hex}}",
    "editorLineNumber.activeForeground": "#{{base04-hex}}",
    "editorLineNumber.dimForeground": "#{{base02-hex}}",
    "editorCursor.foreground": "#{{base05-hex}}",
    "editorCursor.background": "#{{base00-hex}}",
    "editor.selectionBackground": "#{{base03-hex}}80",
    "editor.selectionForeground": "#{{base05-hex}}",
    "editor.inactiveSelectionBackground": "#{{base02-hex}}80",
    "editor.selectionHighlightBackground": "#{{base02-hex}}80",
    "editor.wordHighlightBackground": "#{{base0E-hex}}80",
    "editor.wordHighlightStrongBackground": "#{{base0E-hex}}80",
    "editor.findMatchBackground": "#{{base0A-hex}}80",
    "editor.findMatchHighlightBackground": "#{{base0A-hex}}40",
    "editor.findRangeHighlightBackground": "#{{base01-hex}}",
    "editor.hoverHighlightBackground": "#{{base0E-hex}}40",
    "editor.lineHighlightBackground": "#{{base01-hex}}80",
    "editor.lineHighlightBorder": "#{{base01-hex}}",
    "editorLink.activeForeground": "#{{base0D-hex}}",
    "editor.rangeHighlightBackground": "#{{base01-hex}}",
    "editor.symbolHighlightBackground": "#{{base0E-hex}}40",
    "editorWhitespace.foreground": "#{{base02-hex}}",
    "editorIndentGuide.background": "#{{base02-hex}}",
    "editorIndentGuide.activeBackground": "#{{base03-hex}}",
    "editorRuler.foreground": "#{{base02-hex}}",
    "editorCodeLens.foreground": "#{{base03-hex}}",
    "editorBracketMatch.background": "#{{base01-hex}}",
    "editorBracketMatch.border": "#{{base03-hex}}",
    "editorBracketHighlight.foreground1": "#{{base0D-hex}}",
    "editorBracketHighlight.foreground2": "#{{base0B-hex}}",
    "editorBracketHighlight.foreground3": "#{{base0E-hex}}",
    "editorBracketHighlight.foreground4": "#{{base09-hex}}",
    "editorBracketHighlight.foreground5": "#{{base0C-hex}}",
    "editorBracketHighlight.foreground6": "#{{base0A-hex}}",
    "editorBracketPairGuide.activeBackground1": "#{{base0D-hex}}",
    "editorBracketPairGuide.activeBackground2": "#{{base0B-hex}}",
    "editorBracketPairGuide.activeBackground3": "#{{base0E-hex}}",
    "editorBracketPairGuide.activeBackground4": "#{{base09-hex}}",
    "editorBracketPairGuide.activeBackground5": "#{{base0C-hex}}",
    "editorBracketPairGuide.activeBackground6": "#{{base0A-hex}}",
    "editorBracketPairGuide.background1": "#{{base02-hex}}",
    "editorBracketPairGuide.background2": "#{{base02-hex}}",
    "editorBracketPairGuide.background3": "#{{base02-hex}}",
    "editorBracketPairGuide.background4": "#{{base02-hex}}",
    "editorBracketPairGuide.background5": "#{{base02-hex}}",
    "editorBracketPairGuide.background6": "#{{base02-hex}}",
    "editorUnnecessaryCode.opacity": "#{{base03-hex}}80",
    "editorGhostText.foreground": "#{{base03-hex}}",
    "editorOverviewRuler.border": "#{{base02-hex}}",
    "editorOverviewRuler.findMatchForeground": "#{{base0A-hex}}",
    "editorOverviewRuler.rangeHighlightForeground": "#{{base0A-hex}}",
    "editorOverviewRuler.selectionHighlightForeground": "#{{base03-hex}}",
    "editorOverviewRuler.wordHighlightForeground": "#{{base0E-hex}}",
    "editorOverviewRuler.wordHighlightStrongForeground": "#{{base0E-hex}}",
    "editorOverviewRuler.modifiedForeground": "#{{base0A-hex}}",
    "editorOverviewRuler.addedForeground": "#{{base0B-hex}}",
    "editorOverviewRuler.deletedForeground": "#{{base08-hex}}",
    "editorOverviewRuler.errorForeground": "#{{base08-hex}}",
    "editorOverviewRuler.warningForeground": "#{{base0A-hex}}",
    "editorOverviewRuler.infoForeground": "#{{base0D-hex}}",
    "editorOverviewRuler.bracketMatchForeground": "#{{base03-hex}}",
    "editorError.foreground": "#{{base08-hex}}",
    "editorError.border": "#{{base08-hex}}",
    "editorWarning.foreground": "#{{base0A-hex}}",
    "editorWarning.border": "#{{base0A-hex}}",
    "editorInfo.foreground": "#{{base0D-hex}}",
    "editorInfo.border": "#{{base0D-hex}}",
    "editorHint.foreground": "#{{base0C-hex}}",
    "editorHint.border": "#{{base0C-hex}}",
    "diffEditor.insertedTextBackground": "#{{base0B-hex}}80",
    "diffEditor.insertedTextBorder": "#{{base0B-hex}}",
    "diffEditor.removedTextBackground": "#{{base08-hex}}70",
    "diffEditor.removedTextBorder": "#{{base08-hex}}",
    "diffEditor.border": "#{{base02-hex}}",
    "diffEditor.diagonalFill": "#{{base02-hex}}80",
    "diffEditor.unchangedRegionBackground": "#{{base01-hex}}",
    "diffEditor.unchangedRegionForeground": "#{{base04-hex}}",
    "diffEditor.unchangedCodeBackground": "#{{base00-hex}}",
    "diffEditor.move.border": "#{{base0D-hex}}",
    "diffEditor.moveActive.border": "#{{base0D-hex}}",
    "editorWidget.background": "#{{base00-hex}}",
    "editorWidget.border": "#{{base02-hex}}",
    "editorWidget.foreground": "#{{base05-hex}}",
    "editorWidget.resizeBorder": "#{{base03-hex}}",
    "editorSuggestWidget.background": "#{{base00-hex}}",
    "editorSuggestWidget.border": "#{{base03-hex}}",
    "editorSuggestWidget.foreground": "#{{base05-hex}}",
    "editorSuggestWidget.focusHighlightForeground": "#{{base0D-hex}}",
    "editorSuggestWidget.highlightForeground": "#{{base0D-hex}}",
    "editorSuggestWidget.selectedBackground": "#{{base01-hex}}",
    "editorSuggestWidget.selectedForeground": "#{{base05-hex}}",
    "editorSuggestWidget.selectedIconForeground": "#{{base0D-hex}}",
    "editorSuggestWidgetStatus.foreground": "#{{base03-hex}}",
    "editorHoverWidget.background": "#{{base01-hex}}",
    "editorHoverWidget.border": "#{{base03-hex}}",
    "editorHoverWidget.foreground": "#{{base05-hex}}",
    "editorHoverWidget.statusBarBackground": "#{{base00-hex}}",
    "editorMarkerNavigationError.background": "#{{base08-hex}}",
    "editorMarkerNavigationWarning.background": "#{{base0A-hex}}",
    "editorMarkerNavigationInfo.background": "#{{base0D-hex}}",
    "editorMarkerNavigation.background": "#{{base00-hex}}",
    "peekView.border": "#{{base03-hex}}",
    "peekViewEditor.background": "#{{base00-hex}}",
    "peekViewEditorGutter.background": "#{{base00-hex}}",
    "peekViewEditor.matchHighlightBackground": "#{{base03-hex}}",
    "peekViewEditor.matchHighlightBorder": "#{{base0A-hex}}",
    "peekViewResult.background": "#{{base00-hex}}",
    "peekViewResult.fileForeground": "#{{base05-hex}}",
    "peekViewResult.lineForeground": "#{{base04-hex}}",
    "peekViewResult.matchHighlightBackground": "#{{base03-hex}}",
    "peekViewResult.selectionBackground": "#{{base01-hex}}",
    "peekViewResult.selectionForeground": "#{{base05-hex}}",
    "peekViewTitle.background": "#{{base00-hex}}",
    "peekViewTitleDescription.foreground": "#{{base04-hex}}",
    "peekViewTitleLabel.foreground": "#{{base05-hex}}",
    "merge.currentHeaderBackground": "#{{base0B-hex}}40",
    "merge.currentContentBackground": "#{{base0B-hex}}20",
    "merge.incomingHeaderBackground": "#{{base0D-hex}}40",
    "merge.incomingContentBackground": "#{{base0D-hex}}20",
    "merge.border": "#{{base02-hex}}",
    "merge.commonContentBackground": "#{{base01-hex}}",
    "merge.commonHeaderBackground": "#{{base01-hex}}",
    "editorOverviewRuler.currentContentForeground": "#{{base0B-hex}}",
    "editorOverviewRuler.incomingContentForeground": "#{{base0D-hex}}",
    "editorOverviewRuler.commonContentForeground": "#{{base03-hex}}",
    "panel.background": "#{{base00-hex}}",
    "panel.border": "#{{base01-hex}}",
    "panel.dropBorder": "#{{base05-hex}}",
    "panelTitle.activeForeground": "#{{base05-hex}}",
    "panelTitle.activeBorder": "#{{base03-hex}}",
    "panelTitle.inactiveForeground": "#{{base03-hex}}",
    "panelInput.border": "#{{base02-hex}}",
    "statusBar.background": "#{{base01-hex}}",
    "statusBar.foreground": "#{{base05-hex}}",
    "statusBar.border": "#{{base02-hex}}",
    "statusBar.debuggingBackground": "#{{base03-hex}}",
    "statusBar.debuggingForeground": "#{{base05-hex}}",
    "statusBar.debuggingBorder": "#{{base02-hex}}",
    "statusBar.noFolderBackground": "#{{base01-hex}}",
    "statusBar.noFolderForeground": "#{{base05-hex}}",
    "statusBar.noFolderBorder": "#{{base02-hex}}",
    "statusBarItem.activeBackground": "#{{base02-hex}}",
    "statusBarItem.hoverBackground": "#{{base02-hex}}",
    "statusBarItem.prominentBackground": "#{{base0D-hex}}",
    "statusBarItem.prominentForeground": "#{{base00-hex}}",
    "statusBarItem.prominentHoverBackground": "#{{base0C-hex}}",
    "statusBarItem.errorBackground": "#{{base08-hex}}",
    "statusBarItem.errorForeground": "#{{base00-hex}}",
    "statusBarItem.warningBackground": "#{{base0A-hex}}",
    "statusBarItem.warningForeground": "#{{base00-hex}}",
    "statusBarItem.remoteBackground": "#{{base09-hex}}",
    "statusBarItem.remoteForeground": "#{{base00-hex}}",
    "titleBar.activeBackground": "#{{base00-hex}}",
    "titleBar.activeForeground": "#{{base05-hex}}",
    "titleBar.inactiveBackground": "#{{base00-hex}}",
    "titleBar.inactiveForeground": "#{{base03-hex}}",
    "titleBar.border": "#{{base00-hex}}",
    "menubar.selectionForeground": "#{{base05-hex}}",
    "menubar.selectionBackground": "#{{base01-hex}}",
    "menubar.selectionBorder": "#{{base02-hex}}",
    "menu.background": "#{{base00-hex}}",
    "menu.foreground": "#{{base05-hex}}",
    "menu.selectionBackground": "#{{base01-hex}}",
    "menu.selectionForeground": "#{{base05-hex}}",
    "menu.selectionBorder": "#{{base02-hex}}",
    "menu.separatorBackground": "#{{base02-hex}}",
    "menu.border": "#{{base02-hex}}",
    "commandCenter.foreground": "#{{base05-hex}}",
    "commandCenter.activeForeground": "#{{base05-hex}}",
    "commandCenter.background": "#{{base00-hex}}",
    "commandCenter.activeBackground": "#{{base01-hex}}",
    "commandCenter.border": "#{{base02-hex}}",
    "commandCenter.inactiveForeground": "#{{base03-hex}}",
    "commandCenter.inactiveBorder": "#{{base02-hex}}",
    "notificationCenter.border": "#{{base02-hex}}",
    "notificationCenterHeader.foreground": "#{{base05-hex}}",
    "notificationCenterHeader.background": "#{{base00-hex}}",
    "notifications.background": "#{{base00-hex}}",
    "notifications.border": "#{{base02-hex}}",
    "notifications.foreground": "#{{base05-hex}}",
    "notificationLink.foreground": "#{{base0D-hex}}",
    "notificationsErrorIcon.foreground": "#{{base08-hex}}",
    "notificationsWarningIcon.foreground": "#{{base0A-hex}}",
    "notificationsInfoIcon.foreground": "#{{base0D-hex}}",
    "banner.background": "#{{base01-hex}}",
    "banner.foreground": "#{{base05-hex}}",
    "banner.iconForeground": "#{{base0D-hex}}",
    "extensionButton.prominentForeground": "#{{base00-hex}}",
    "extensionButton.prominentBackground": "#{{base0D-hex}}",
    "extensionButton.prominentHoverBackground": "#{{base0C-hex}}",
    "extensionIcon.starForeground": "#{{base0A-hex}}",
    "extensionIcon.verifiedForeground": "#{{base0B-hex}}",
    "extensionIcon.preReleaseForeground": "#{{base0E-hex}}",
    "extensionIcon.sponsorForeground": "#{{base0E-hex}}",
    "quickInput.background": "#{{base00-hex}}",
    "quickInput.foreground": "#{{base05-hex}}",
    "quickInputList.focusBackground": "#{{base01-hex}}",
    "quickInputList.focusForeground": "#{{base05-hex}}",
    "quickInputList.focusIconForeground": "#{{base0D-hex}}",
    "pickerGroup.border": "#{{base02-hex}}",
    "pickerGroup.foreground": "#{{base03-hex}}",
    "keybindingLabel.background": "#{{base01-hex}}",
    "keybindingLabel.border": "#{{base02-hex}}",
    "keybindingLabel.bottomBorder": "#{{base02-hex}}",
    "keybindingLabel.foreground": "#{{base05-hex}}",
    "keybindingTable.headerBackground": "#{{base00-hex}}",
    "keybindingTable.rowsBackground": "#{{base00-hex}}",
    "terminal.background": "#{{base00-hex}}",
    "terminal.foreground": "#{{base05-hex}}",
    "terminalCursor.foreground": "#{{base05-hex}}",
    "terminalCursor.background": "#{{base00-hex}}",
    "terminal.selectionBackground": "#{{base03-hex}}80",
    "terminal.border": "#{{base02-hex}}",
    "terminal.ansiBlack": "#{{base02-hex}}",
    "terminal.ansiRed": "#{{base08-hex}}",
    "terminal.ansiGreen": "#{{base0B-hex}}",
    "terminal.ansiYellow": "#{{base0A-hex}}",
    "terminal.ansiBlue": "#{{base0D-hex}}",
    "terminal.ansiMagenta": "#{{base0E-hex}}",
    "terminal.ansiCyan": "#{{base0C-hex}}",
    "terminal.ansiWhite": "#{{base05-hex}}",
    "terminal.ansiBrightBlack": "#{{base03-hex}}",
    "terminal.ansiBrightRed": "#{{base08-hex}}",
    "terminal.ansiBrightGreen": "#{{base0B-hex}}",
    "terminal.ansiBrightYellow": "#{{base0A-hex}}",
    "terminal.ansiBrightBlue": "#{{base0D-hex}}",
    "terminal.ansiBrightMagenta": "#{{base0E-hex}}",
    "terminal.ansiBrightCyan": "#{{base0D-hex}}",
    "terminal.ansiBrightWhite": "#{{base05-hex}}",
    "terminalCommandDecoration.defaultBackground": "#{{base03-hex}}",
    "terminalCommandDecoration.successBackground": "#{{base0B-hex}}",
    "terminalCommandDecoration.errorBackground": "#{{base08-hex}}",
    "terminalOverviewRuler.cursorForeground": "#{{base05-hex}}",
    "terminalOverviewRuler.findMatchForeground": "#{{base0A-hex}}",
    "debugToolBar.background": "#{{base00-hex}}",
    "debugToolBar.border": "#{{base02-hex}}",
    "debugConsole.infoForeground": "#{{base0D-hex}}",
    "debugConsole.warningForeground": "#{{base0A-hex}}",
    "debugConsole.errorForeground": "#{{base08-hex}}",
    "debugConsole.sourceForeground": "#{{base04-hex}}",
    "debugConsoleInputIcon.foreground": "#{{base05-hex}}",
    "debugIcon.breakpointForeground": "#{{base08-hex}}",
    "debugIcon.breakpointDisabledForeground": "#{{base03-hex}}",
    "debugIcon.breakpointUnverifiedForeground": "#{{base0A-hex}}",
    "debugIcon.breakpointCurrentStackframeForeground": "#{{base0D-hex}}",
    "debugIcon.breakpointStackframeForeground": "#{{base0D-hex}}",
    "debugIcon.startForeground": "#{{base0B-hex}}",
    "debugIcon.pauseForeground": "#{{base0A-hex}}",
    "debugIcon.stopForeground": "#{{base08-hex}}",
    "debugIcon.disconnectForeground": "#{{base08-hex}}",
    "debugIcon.restartForeground": "#{{base0B-hex}}",
    "debugIcon.stepOverForeground": "#{{base0D-hex}}",
    "debugIcon.stepIntoForeground": "#{{base0D-hex}}",
    "debugIcon.stepOutForeground": "#{{base0D-hex}}",
    "debugIcon.continueForeground": "#{{base0B-hex}}",
    "debugIcon.stepBackForeground": "#{{base0D-hex}}",
    "testing.iconFailed": "#{{base08-hex}}",
    "testing.iconErrored": "#{{base08-hex}}",
    "testing.iconPassed": "#{{base0B-hex}}",
    "testing.runAction": "#{{base0B-hex}}",
    "testing.iconQueued": "#{{base0A-hex}}",
    "testing.iconUnset": "#{{base03-hex}}",
    "testing.iconSkipped": "#{{base03-hex}}",
    "testing.peekBorder": "#{{base0D-hex}}",
    "testing.message.error.decorationForeground": "#{{base08-hex}}",
    "testing.message.error.lineBackground": "#{{base08-hex}}20",
    "testing.message.info.decorationForeground": "#{{base0D-hex}}",
    "welcomePage.buttonBackground": "#{{base01-hex}}",
    "welcomePage.buttonHoverBackground": "#{{base02-hex}}",
    "walkThrough.embeddedEditorBackground": "#{{base00-hex}}",
    "gitDecoration.addedResourceForeground": "#{{base0B-hex}}",
    "gitDecoration.modifiedResourceForeground": "#{{base0A-hex}}",
    "gitDecoration.deletedResourceForeground": "#{{base08-hex}}",
    "gitDecoration.renamedResourceForeground": "#{{base0D-hex}}",
    "gitDecoration.untrackedResourceForeground": "#{{base0C-hex}}",
    "gitDecoration.ignoredResourceForeground": "#{{base03-hex}}",
    "gitDecoration.conflictingResourceForeground": "#{{base09-hex}}",
    "gitDecoration.stageDeletedResourceForeground": "#{{base08-hex}}",
    "gitDecoration.stageModifiedResourceForeground": "#{{base0A-hex}}",
    "gitDecoration.submoduleResourceForeground": "#{{base03-hex}}",
    "scm.historyItem.commitForeground": "#{{base0B-hex}}",
    "scm.historyItem.commitBackground": "#{{base00-hex}}",
    "scm.historyItem.commitHoverBackground": "#{{base01-hex}}",
    "scm.historyItem.selectedCommitForeground": "#{{base05-hex}}",
    "scm.historyItem.selectedCommitBackground": "#{{base01-hex}}",
    "scm.historyItem.border": "#{{base02-hex}}",
    "scm.historyItem.selectedBorder": "#{{base03-hex}}",
    "scm.historyItem.badgeBackground": "#{{base0D-hex}}",
    "scm.historyItem.badgeForeground": "#{{base00-hex}}",
    "scm.historyItem.graphLane1Color": "#{{base08-hex}}",
    "scm.historyItem.graphLane2Color": "#{{base0B-hex}}",
    "scm.historyItem.graphLane3Color": "#{{base0A-hex}}",
    "scm.historyItem.graphLane4Color": "#{{base0D-hex}}",
    "scm.historyItem.graphLane5Color": "#{{base0E-hex}}",
    "scm.historyItem.graphLane6Color": "#{{base0C-hex}}",
    "scm.historyItem.graphLane7Color": "#{{base09-hex}}",
    "scm.historyItem.graphLane8Color": "#{{base0F-hex}}",
    "scm.historyItem.graphLane9Color": "#{{base08-hex}}",
    "scm.historyItem.graphLane10Color": "#{{base0B-hex}}",
    "scm.historyItem.graphLane11Color": "#{{base0A-hex}}",
    "scm.historyItem.graphLane12Color": "#{{base0D-hex}}",
    "scm.historyItem.graphLane13Color": "#{{base0E-hex}}",
    "scm.historyItem.graphLane14Color": "#{{base0C-hex}}",
    "scm.historyItem.graphLane15Color": "#{{base09-hex}}",
    "scm.historyItem.graphLane16Color": "#{{base0F-hex}}",
    "scm.historyItem.graphLane17Color": "#{{base08-hex}}",
    "scm.historyItem.graphLane18Color": "#{{base0B-hex}}",
    "scm.historyItem.graphLane19Color": "#{{base0A-hex}}",
    "scm.historyItem.graphLane20Color": "#{{base0D-hex}}",
    "scm.historyItem.graphLane21Color": "#{{base0E-hex}}",
    "scm.historyItem.graphLane22Color": "#{{base0C-hex}}",
    "scm.historyItem.graphLane23Color": "#{{base09-hex}}",
    "scm.historyItem.graphLane24Color": "#{{base0F-hex}}",
    "scm.historyItem.graphLane25Color": "#{{base08-hex}}",
    "scm.historyItem.graphLane26Color": "#{{base0B-hex}}",
    "scm.historyItem.graphLane27Color": "#{{base0A-hex}}",
    "scm.historyItem.graphLane28Color": "#{{base0D-hex}}",
    "scm.historyItem.graphLane29Color": "#{{base0E-hex}}",
    "scm.historyItem.graphLane30Color": "#{{base0C-hex}}",
    "scm.historyItem.graphLane31Color": "#{{base09-hex}}",
    "scm.historyItem.graphLane32Color": "#{{base0F-hex}}",
    "settings.headerForeground": "#{{base05-hex}}",
    "settings.modifiedItemIndicator": "#{{base0D-hex}}",
    "settings.dropdownBackground": "#{{base01-hex}}",
    "settings.dropdownForeground": "#{{base05-hex}}",
    "settings.dropdownBorder": "#{{base02-hex}}",
    "settings.dropdownListBorder": "#{{base02-hex}}",
    "settings.checkboxBackground": "#{{base01-hex}}",
    "settings.checkboxForeground": "#{{base05-hex}}",
    "settings.checkboxBorder": "#{{base02-hex}}",
    "settings.rowHoverBackground": "#{{base01-hex}}",
    "settings.focusedRowBackground": "#{{base01-hex}}5A",
    "settings.textInputBackground": "#{{base01-hex}}",
    "settings.textInputForeground": "#{{base05-hex}}",
    "settings.textInputBorder": "#{{base02-hex}}",
    "settings.numberInputBackground": "#{{base01-hex}}",
    "settings.numberInputForeground": "#{{base05-hex}}",
    "settings.numberInputBorder": "#{{base02-hex}}",
    "settings.focusedRowBorder": "#{{base03-hex}}",
    "breadcrumb.foreground": "#{{base04-hex}}",
    "breadcrumb.background": "#{{base00-hex}}",
    "breadcrumb.focusForeground": "#{{base05-hex}}",
    "breadcrumb.activeSelectionForeground": "#{{base05-hex}}",
    "breadcrumbPicker.background": "#{{base00-hex}}",
    "editor.snippetTabstopHighlightBackground": "#{{base01-hex}}",
    "editor.snippetTabstopHighlightBorder": "#{{base03-hex}}",
    "editor.snippetFinalTabstopHighlightBackground": "#{{base01-hex}}",
    "editor.snippetFinalTabstopHighlightBorder": "#{{base0B-hex}}",
    "symbolIcon.arrayForeground": "#{{base05-hex}}",
    "symbolIcon.booleanForeground": "#{{base0E-hex}}",
    "symbolIcon.classForeground": "#{{base0B-hex}}",
    "symbolIcon.colorForeground": "#{{base05-hex}}",
    "symbolIcon.constantForeground": "#{{base0E-hex}}",
    "symbolIcon.constructorForeground": "#{{base0B-hex}}",
    "symbolIcon.enumeratorForeground": "#{{base0B-hex}}",
    "symbolIcon.enumeratorMemberForeground": "#{{base0E-hex}}",
    "symbolIcon.eventForeground": "#{{base0E-hex}}",
    "symbolIcon.fieldForeground": "#{{base0D-hex}}",
    "symbolIcon.fileForeground": "#{{base05-hex}}",
    "symbolIcon.folderForeground": "#{{base03-hex}}",
    "symbolIcon.functionForeground": "#{{base0B-hex}}",
    "symbolIcon.interfaceForeground": "#{{base0D-hex}}",
    "symbolIcon.keyForeground": "#{{base05-hex}}",
    "symbolIcon.keywordForeground": "#{{base08-hex}}",
    "symbolIcon.methodForeground": "#{{base0B-hex}}",
    "symbolIcon.moduleForeground": "#{{base0D-hex}}",
    "symbolIcon.namespaceForeground": "#{{base0B-hex}}",
    "symbolIcon.nullForeground": "#{{base03-hex}}",
    "symbolIcon.numberForeground": "#{{base0E-hex}}",
    "symbolIcon.objectForeground": "#{{base05-hex}}",
    "symbolIcon.operatorForeground": "#{{base05-hex}}",
    "symbolIcon.packageForeground": "#{{base0D-hex}}",
    "symbolIcon.propertyForeground": "#{{base0D-hex}}",
    "symbolIcon.referenceForeground": "#{{base05-hex}}",
    "symbolIcon.snippetForeground": "#{{base0A-hex}}",
    "symbolIcon.stringForeground": "#{{base0A-hex}}",
    "symbolIcon.structForeground": "#{{base0B-hex}}",
    "symbolIcon.textForeground": "#{{base05-hex}}",
    "symbolIcon.typeParameterForeground": "#{{base0D-hex}}",
    "symbolIcon.unitForeground": "#{{base05-hex}}",
    "symbolIcon.variableForeground": "#{{base05-hex}}",
    "notebook.editorBackground": "#{{base00-hex}}",
    "notebook.cellBorderColor": "#{{base02-hex}}",
    "notebook.cellHoverBackground": "#{{base01-hex}}",
    "notebook.cellInsertionIndicator": "#{{base0D-hex}}",
    "notebook.cellStatusBarItemHoverBackground": "#{{base01-hex}}",
    "notebook.cellToolbarSeparator": "#{{base02-hex}}",
    "notebook.cellEditorBackground": "#{{base00-hex}}",
    "notebook.focusedCellBackground": "#{{base01-hex}}",
    "notebook.focusedCellBorder": "#{{base0D-hex}}",
    "notebook.focusedEditorBorder": "#{{base0D-hex}}",
    "notebook.inactiveFocusedCellBorder": "#{{base03-hex}}",
    "notebook.inactiveSelectedCellBorder": "#{{base02-hex}}",
    "notebook.outputContainerBackgroundColor": "#{{base00-hex}}",
    "notebook.outputContainerBorderColor": "#{{base02-hex}}",
    "notebook.selectedCellBackground": "#{{base01-hex}}",
    "notebook.selectedCellBorder": "#{{base03-hex}}",
    "notebook.symbolHighlightBackground": "#{{base0E-hex}}40",
    "notebookScrollbarSlider.activeBackground": "#{{base03-hex}}80",
    "notebookScrollbarSlider.background": "#{{base02-hex}}80",
    "notebookScrollbarSlider.hoverBackground": "#{{base03-hex}}80",
    "notebookStatusErrorIcon.foreground": "#{{base08-hex}}",
    "notebookStatusRunningIcon.foreground": "#{{base0A-hex}}",
    "notebookStatusSuccessIcon.foreground": "#{{base0B-hex}}",
    "notebookEditorOverviewRuler.runningCellForeground": "#{{base0B-hex}}",
    "charts.foreground": "#{{base05-hex}}",
    "charts.lines": "#{{base03-hex}}",
    "charts.red": "#{{base08-hex}}",
    "charts.blue": "#{{base0D-hex}}",
    "charts.yellow": "#{{base0A-hex}}",
    "charts.orange": "#{{base09-hex}}",
    "charts.green": "#{{base0B-hex}}",
    "charts.purple": "#{{base0E-hex}}",
    "chart.line": "#{{base0D-hex}}",
    "chart.axis": "#{{base03-hex}}",
    "chart.guide": "#{{base02-hex}}",
    "ports.iconRunningProcessForeground": "#{{base04-hex}}",
    "commentsView.resolvedIcon": "#{{base03-hex}}",
    "commentsView.unresolvedIcon": "#{{base0D-hex}}",
    "actionBar.toggledBackground": "#{{base01-hex}}",
    "simpleFindWidget.sashBorder": "#{{base02-hex}}",
    "gauge.background": "#{{base01-hex}}",
    "gauge.foreground": "#{{base0D-hex}}",
    "gauge.border": "#{{base02-hex}}",
    "gauge.warningBackground": "#{{base0A-hex}}",
    "gauge.warningForeground": "#{{base00-hex}}",
    "gauge.errorBackground": "#{{base08-hex}}",
    "gauge.errorForeground": "#{{base00-hex}}",
    "markdownAlert.note.foreground": "#{{base0D-hex}}",
    "markdownAlert.tip.foreground": "#{{base0B-hex}}",
    "markdownAlert.important.foreground": "#{{base0E-hex}}",
    "markdownAlert.warning.foreground": "#{{base0A-hex}}",
    "markdownAlert.caution.foreground": "#{{base08-hex}}"
  },
  "editor.tokenColorCustomizations": {
    "textMateRules": [
      {
        "settings": {
          "foreground": "#{{base05-hex}}"
        }
      },
      {
        "scope": [
          "meta.embedded",
          "source.groovy.embedded",
          "string meta.image.inline.markdown",
          "variable.legacy.builtin.python"
        ],
        "settings": {
          "foreground": "#{{base05-hex}}"
        }
      },
      {
        "name": "Comment",
        "scope": "comment",
        "settings": {
          "foreground": "#{{base03-hex}}"
        }
      },
      {
        "name": "String",
        "scope": "string",
        "settings": {
          "foreground": "#{{base0A-hex}}"
        }
      },
      {
        "name": "Template Definition",
        "scope": [
          "punctuation.definition.template-expression",
          "punctuation.section.embedded"
        ],
        "settings": {
          "foreground": "#{{base08-hex}}"
        }
      },
      {
        "name": "Reset JavaScript string interpolation expression",
        "scope": [
          "meta.template.expression"
        ],
        "settings": {
          "foreground": "#{{base05-hex}}"
        }
      },
      {
        "name": "Number",
        "scope": "constant.numeric",
        "settings": {
          "foreground": "#{{base0E-hex}}"
        }
      },
      {
        "name": "Built-in constant",
        "scope": "constant.language",
        "settings": {
          "foreground": "#{{base0E-hex}}"
        }
      },
      {
        "name": "User-defined constant",
        "scope": "constant.character, constant.other",
        "settings": {
          "foreground": "#{{base0E-hex}}"
        }
      },
      {
        "name": "Variable",
        "scope": "variable",
        "settings": {
          "fontStyle": "",
          "foreground": "#{{base05-hex}}"
        }
      },
      {
        "name": "Keyword",
        "scope": "keyword",
        "settings": {
          "foreground": "#{{base08-hex}}"
        }
      },
      {
        "name": "Storage",
        "scope": "storage",
        "settings": {
          "fontStyle": "",
          "foreground": "#{{base08-hex}}"
        }
      },
      {
        "name": "Storage type",
        "scope": "storage.type",
        "settings": {
          "fontStyle": "italic",
          "foreground": "#{{base0D-hex}}"
        }
      },
      {
        "name": "Class name",
        "scope": "entity.name.type, entity.name.class, entity.name.namespace, entity.name.scope-resolution",
        "settings": {
          "fontStyle": "underline",
          "foreground": "#{{base0B-hex}}"
        }
      },
      {
        "name": "Inherited class",
        "scope": [
          "entity.other.inherited-class",
          "punctuation.separator.namespace.ruby"
        ],
        "settings": {
          "fontStyle": "italic underline",
          "foreground": "#{{base0B-hex}}"
        }
      },
      {
        "name": "Function name",
        "scope": "entity.name.function",
        "settings": {
          "fontStyle": "",
          "foreground": "#{{base0B-hex}}"
        }
      },
      {
        "name": "Function argument",
        "scope": "variable.parameter",
        "settings": {
          "fontStyle": "italic",
          "foreground": "#{{base09-hex}}"
        }
      },
      {
        "name": "Tag name",
        "scope": "entity.name.tag",
        "settings": {
          "fontStyle": "",
          "foreground": "#{{base08-hex}}"
        }
      },
      {
        "name": "Tag attribute",
        "scope": "entity.other.attribute-name",
        "settings": {
          "fontStyle": "",
          "foreground": "#{{base0B-hex}}"
        }
      },
      {
        "name": "Library function",
        "scope": "support.function",
        "settings": {
          "fontStyle": "",
          "foreground": "#{{base0D-hex}}"
        }
      },
      {
        "name": "Library constant",
        "scope": "support.constant",
        "settings": {
          "fontStyle": "",
          "foreground": "#{{base0D-hex}}"
        }
      },
      {
        "name": "Library class/type",
        "scope": "support.type, support.class",
        "settings": {
          "fontStyle": "italic",
          "foreground": "#{{base0D-hex}}"
        }
      },
      {
        "name": "Library variable",
        "scope": "support.other.variable",
        "settings": {
          "fontStyle": ""
        }
      },
      {
        "name": "Invalid",
        "scope": "invalid",
        "settings": {
          "fontStyle": "",
          "foreground": "#{{base08-hex}}"
        }
      },
      {
        "name": "Invalid deprecated",
        "scope": "invalid.deprecated",
        "settings": {
          "foreground": "#{{base08-hex}}"
        }
      },
      {
        "name": "JSON String",
        "scope": "meta.structure.dictionary.json string.quoted.double.json",
        "settings": {
          "foreground": "#{{base04-hex}}"
        }
      },
      {
        "name": "diff.header",
        "scope": "meta.diff, meta.diff.header",
        "settings": {
          "foreground": "#{{base03-hex}}"
        }
      },
      {
        "name": "diff.deleted",
        "scope": "markup.deleted",
        "settings": {
          "foreground": "#{{base08-hex}}"
        }
      },
      {
        "name": "diff.inserted",
        "scope": "markup.inserted",
        "settings": {
          "foreground": "#{{base0B-hex}}"
        }
      },
      {
        "name": "diff.changed",
        "scope": "markup.changed",
        "settings": {
          "foreground": "#{{base0A-hex}}"
        }
      },
      {
        "scope": "constant.numeric.line-number.find-in-files - match",
        "settings": {
          "foreground": "#{{base0E-hex}}A0"
        }
      },
      {
        "scope": "entity.name.filename.find-in-files",
        "settings": {
          "foreground": "#{{base0A-hex}}"
        }
      },
      {
        "name": "Markup Quote",
        "scope": "markup.quote",
        "settings": {
          "foreground": "#{{base08-hex}}"
        }
      },
      {
        "name": "Markup Lists",
        "scope": "markup.list",
        "settings": {
          "foreground": "#{{base0A-hex}}"
        }
      },
      {
        "name": "Markup Styling",
        "scope": "markup.bold, markup.italic",
        "settings": {
          "foreground": "#{{base0D-hex}}"
        }
      },
      {
        "name": "Markup Inline",
        "scope": "markup.inline.raw",
        "settings": {
          "fontStyle": "",
          "foreground": "#{{base09-hex}}"
        }
      },
      {
        "name": "Markup Headings",
        "scope": "markup.heading",
        "settings": {
          "foreground": "#{{base0B-hex}}"
        }
      },
      {
        "name": "Markup Setext Header",
        "scope": "markup.heading.setext",
        "settings": {
          "foreground": "#{{base0B-hex}}",
          "fontStyle": "bold"
        }
      },
      {
        "name": "Markup Headings",
        "scope": "markup.heading.markdown",
        "settings": {
          "fontStyle": "bold"
        }
      },
      {
        "name": "Markdown Quote",
        "scope": "markup.quote.markdown",
        "settings": {
          "fontStyle": "italic",
          "foreground": "#{{base03-hex}}"
        }
      },
      {
        "name": "Markdown Bold",
        "scope": "markup.bold.markdown",
        "settings": {
          "fontStyle": "bold"
        }
      },
      {
        "name": "Markdown Link Title/Description",
        "scope": "string.other.link.title.markdown,string.other.link.description.markdown",
        "settings": {
          "foreground": "#{{base0E-hex}}"
        }
      },
      {
        "name": "Markdown Underline Link/Image",
        "scope": "markup.underline.link.markdown,markup.underline.link.image.markdown",
        "settings": {
          "foreground": "#{{base0A-hex}}"
        }
      },
      {
        "name": "Markdown Emphasis",
        "scope": "markup.italic.markdown",
        "settings": {
          "fontStyle": "italic"
        }
      },
      {
        "scope": "markup.strikethrough",
        "settings": {
          "fontStyle": "strikethrough"
        }
      },
      {
        "name": "Markdown Punctuation Definition Link",
        "scope": "markup.list.unnumbered.markdown, markup.list.numbered.markdown",
        "settings": {
          "foreground": "#{{base05-hex}}"
        }
      },
      {
        "name": "Markdown List Punctuation",
        "scope": [
          "punctuation.definition.list.begin.markdown"
        ],
        "settings": {
          "foreground": "#{{base0B-hex}}"
        }
      },
      {
        "scope": "token.info-token",
        "settings": {
          "foreground": "#{{base0D-hex}}"
        }
      },
      {
        "scope": "token.warn-token",
        "settings": {
          "foreground": "#{{base0A-hex}}"
        }
      },
      {
        "scope": "token.error-token",
        "settings": {
          "foreground": "#{{base08-hex}}"
        }
      },
      {
        "scope": "token.debug-token",
        "settings": {
          "foreground": "#{{base0E-hex}}"
        }
      },
      {
        "name": "this.self",
        "scope": "variable.language",
        "settings": {
          "foreground": "#{{base09-hex}}"
        }
      }
    ]
  }
}
