@use "../abstracts/mixins" as *;
@use "../abstracts/theme" as *;
@use "../abstracts/variables" as *;
@use "sass:color";

.bar {  
  background-color: rgba(255, 255, 255, 0.02);
  padding: $spacing-sm $spacing-md;

}
