@use "../tokens" as *;
@use "../abstracts/theme" as *;
@use "../abstracts/reset" as *;

button {
    @include gtk-reset;
    border-radius: radius(sm);
    transition: duration(fast) easing(ease);
    min-height: 10px;
    min-width: 10px;
    padding: 4px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }
}
