@use "../abstracts/variables" as *;
@use "../abstracts/theme" as *;
@use "../abstracts/mixins" as *;

.cava-island {
  .cava-bar {
    background: $fg;
    border-radius: $radius-xl;
    transition: all 0.1s ease-out;
    min-height: 2px;
    min-width: 2px;
    opacity: 0.8;

    &.cava-bar--active {
      background: $accent;
      opacity: 1;
    }
  }
}

.cava-island-empty {
  padding: 0;
  background: transparent;

  .cava-wrapper {
    background: transparent;
    padding: $spacing-xs;
  }
}
