@use "../tokens" as *;
@use "../abstracts/theme" as *;

.cava-island {
  .cava-bar {
    background: $white;
    border-radius: radius(xl);
    transition: all duration(faster) easing(ease-out);
    min-height: spacing(2xs);
    min-width: spacing(2xs);
    opacity: opacity(80);

    &.cava-bar--active {
      background: $white;
      opacity: opacity(100);
    }
  }
}

.cava-island-empty {
  padding: 0;
  background: $transparent;

  .cava-wrapper {
    background: $transparent;
    padding: spacing(xs);
  }
}