@use "../tokens" as *;
@use "../abstracts/theme" as *;

.mediaplayer {
  .media-info {
    font-size: 11px;
    font-weight: 400;
    color: $fg;
    font-family: "JetBrainsMono Nerd Font Mono";
  }
}