@use "../abstracts/variables" as *;
@use "../abstracts/theme" as *;
@use "../abstracts/mixins" as *;

.mediaplayer {
  border: $border-width solid rgba(white, 0.05);
  border-radius: $radius-sm;
  padding: $spacing-sm;
  background: rgba(black, 0.05);

  .media-info {
    font-size: 12px;
    font-weight: 400;
    color: $fg;
    min-width: 190px;
  }

  .media-control {
    &:hover {
      background: rgba(white, 0.05);
    }
  }
}