@use "../tokens" as *;
@use "../abstracts/theme" as *;

.mediaplayer {
  .media-info {
    font-size: typography(font-size-2xs);
    font-weight: typography(font-weight-normal);
    font-family: typography(font-family-mono);
  }
}