@use "../tokens" as *;
@use "../abstracts/theme" as *;
@use "sass:color";

window.volume-osd-window,
window.volume-osd-window revealer,
window.brightness-osd-window,
window.brightness-osd-window revealer {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.osd {
  font-size: 14px;
  font-weight: 400;
  box-shadow: none;
  border-radius: radius(md);
  margin-bottom: 24px;
  padding-top: spacing(md);
  border: 1px solid $alpha-subtle;
  background: rgba(0, 0, 0, 0.3);
  color: white;

  .volume-step-bar,
  .brightness-step-bar {
    margin-top: spacing(xs);
  }

  .volume-step,
  .brightness-step {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1px;
    min-width: 3px;
    transition: background-color 0.15s ease;

    &.volume-step-filled,
    &.brightness-step-filled {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}