@use "../tokens" as *;
@use "../abstracts/theme" as *;

.privacy-indicator {
  button.privacy-btn {
    border-radius: radius(sm);
    transition: duration(fast) easing(ease);
    padding: 2px 4px;

    &--webcam {
      background-color: #4dff8534;
      border: 1px solid #47c55e58;
    }

    &--mic {
      background-color: #ff9c3234;
      border: 1px solid #FC952638;
    }

    &--screenrecord {
      background-color: #ff6dff34;
      border: 1px solid #AF53DE38;
    }
  }
}