@use "../tokens" as *;
@use "../abstracts/theme" as *;

@use 'sass:color';

.recording-indicator button {
  animation: pulse 2s easing(ease-in-out) infinite;

  &:hover {
    animation: none;
    background-color: #dc2929b9;
  }
}

@keyframes pulse {
  0%,
  100% {
    background-color: #ff1c1c47;
  }

  50% {
    background-color: #ff1c1ca5;
  }
}
