@use "../tokens" as *;
@use "../abstracts/theme" as *;

.recording-indicator button {
  animation: pulse duration(slowest) easing(ease-in-out) infinite;
  color: $base0F;
  background-color: rgba(216, 29, 29, 0.6);
  border-radius: radius(xl);

  &:hover {
    animation: none;
    background-color: rgba(216, 29, 29, 1);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: opacity(100);
  }

  50% {
    opacity: opacity(60);
  }
}
