@use "../tokens" as *;
@use "../abstracts/theme" as *;

@use 'sass:color';

.recording-indicator button {
  animation: pulse duration(slowest) easing(ease-in-out) infinite;
  color: $base07;
  background-color: #ff1c1cc7;
  border-radius: radius(xl);

  &:hover {
    animation: none;
    background-color: #dc2929b9;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: opacity(100);
  }

  50% {
    opacity: opacity(60);
  }
}
