@use "../abstracts/variables" as *;
@use "../abstracts/theme" as *;
@use "../abstracts/mixins" as *;

.workspaces {
  border-radius: $radius-sm;
  padding: $spacing-xs;

  .workspace {
    min-width: $spacing-lg;
    background-color: transparent;
    min-height: $spacing-lg;
    transition: all 0.1s ease-in-out;

    &:hover .workspace__indicator--occupied {
      background-color: white;
    }

    &:hover:not(.workspace--focused) {
      background-color: rgba($white, 0.05);
    }
  }

  .workspace__indicator {
    background-color: $fg-dim;
    border-radius: $radius-md;
    min-width: $spacing-xs;

    &.workspace__indicator--focused {
      background-color: $white;
      min-width: 8px;
      min-height: 8px;
      border-radius: 50%;
    }

    &.workspace__indicator--occupied {
      transition: all 0.12s ease-in-out;
      background-color: $fg-dim;
      min-width: $spacing-md;
    }

    &.workspace__indicator--empty {
      background-color: rgba($fg-dim, 0.5);
      min-width: $spacing-xs;
    }
  }

  .workspace__number {
    &--focused {
      background-color: rgba($white, 0.05);
      border-radius: $radius-sm;
      padding: 2px 6px;
    }
  }
}