@use "../tokens" as *;
@use "../abstracts/theme" as *;

@keyframes dot-pop {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.workspace {
  button {
    min-width: spacing(14);
    transition:
      min-width 280ms ease-out,
      background-color 200ms ease;

    &:hover {
      background-color: $alpha-light;
    }

    &.focused {
      min-width: spacing(22);

      label {
        color: white;
        animation: dot-pop 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
      }
    }
  }
}